<div class="row">
  <div class="col-md-12">
      <form [formGroup]="fundForm">
    <ul ngbNav #nav="ngbNav" [(activeId)]="sectionNo" class="nav-tabs mt-4">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Fund details</a>
          <ng-template ngbNavContent>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="fundName"
                placeholder="Fund Name"
              />
            </div>
            <p *ngIf="fundForm.controls['fundName'].hasError('maxlength')">
              <ngb-alert type="danger" [dismissible]="noNeed">
                <span>It exceeds maximum length</span>
              </ngb-alert>
            </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="registrationNumber"
                placeholder="Registration No."
              />
            </div>
            <p
              *ngIf="
                fundForm.controls['registrationNumber'].hasError('maxlength')
              "
            >
              <ngb-alert type="danger" [dismissible]="noNeed">
                <span>It exceeds maximum length</span>
              </ngb-alert>
            </p>
            <div class="mb-3">
              <textarea
                class="form-control"
                formControlName="fundDescription"
                rows="3"
                placeholder="Fund Description"
              ></textarea>
            </div>
            <p
              *ngIf="fundForm.controls['fundDescription'].hasError('maxlength')"
            >
              <ngb-alert type="danger" [dismissible]="noNeed">
                <span>It exceeds maximum length</span>
              </ngb-alert>
            </p>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="subFund"
              >
                <option disabled>Select Sub Fund</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </div>

            <div class="mb-3">
              <select
                class="form-select"
                formControlName="domicile"
                aria-label="Default select example"
              >
                <option selected disabled>Select Domicile</option>
                <option *ngFor="let data of domicileData" [value]="data.value">
                  {{ data.viewValue }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="fundType"
              >
                <option disabled>Select Fund Type</option>
                <option value="regulated">Regulated</option>
                <option value="un-regulated">Un regulated</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="fundManagerEntity"
                placeholder="Fund Manager EnIty"
              />
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                ormControlName="fundManagerRep"
                aria-label="Default select example"
              >
                <option disabled>Select Fund Manager Rep</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option disabled>Select Fund Structure</option>
                <option value="open-end">Open-End</option>
                <option value="close-end">Close-End</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="number"
                min="0.00"
                step="0.01"
                class="form-control"
                formControlName="offerPrice"
                placeholder="Offer Price"
              />
            </div>
            <div class="mb-3">
              <input
                type="number"
                min="0.00"
                step="0.01"
                class="form-control"
                formControlName="fundSize"
                placeholder="Fund Size"
              />
            </div>
            <div class="mb-3">
              <input
                type="number"
                [disabled]="disable"
                class="form-control"
                placeholder="Issued Shares"
                formControlName="issuedShares"
              />
            </div>
            <div class="mb-3">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                formControlName="ordinaryShare"
                placeholder="Ordinary Share"
              />
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="fundStatus"
              >
                <option disabled>Select Fund Status</option>
                <option
                  *ngFor="let data of fundStatusData"
                  [value]="data.value"
                >
                  {{ data.viewValue }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="reportingCurrency"
              >
                <option disabled>Select Reporting Currency</option>
                <option *ngFor="let data of currencyData" [value]="data.value">
                  {{ data.viewValue }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <input
                type="number"
                min="0"
                step="1"
                class="form-control"
                formControlName="lockupPeriod"
                placeholder="Lock up Period (in years)"
              />
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="fundYearEnd"
              >
                <option disabled>Select Fund Year-end</option>
                <option *ngFor="let data of monthsData" [value]="data.value">
                  {{ data.viewValue }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="productType"
              >
                <option disabled>Select Product Type</option>
                <option
                  *ngFor="let data of productTypeData"
                  [value]="data.value"
                >
                  {{ data.viewValue }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Fund Life</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <mat-form-field
                appearance="fill"
                class="w-100 mb-3"
                style="padding: 0px"
              >
                <mat-label>Fund End Date</mat-label>
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <input
                type="number"
                min="0.00"
                step="0.01"
                class="form-control"
                formControlName="catchup"
                placeholder="Catchup"
              />
              %
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Fund Configurations</a>
          <ng-template ngbNavContent>
            <div class="mb-3">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="reportingFrequency"
              >
                <option disabled>Select Reporting Frequency</option>
                <option
                  *ngFor="let data of reportingFrequencyData"
                  [value]="data.value"
                >
                  {{ data.viewValue }}
                </option>
              </select>
            </div>
            <div class="mb-3">
                <input
                type="text"
                class="form-control"
                formControlName="legalCounsel"
                placeholder="Enter Legal Counsel"
              />
            </div>
            <p *ngIf="fundForm.controls['legalCounsel'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="legalCounselRep"
                placeholder="Enter Legal Counsel Representative"
              />
            </div>
            <p *ngIf="fundForm.controls['legalCounselRep'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="auditor"
                placeholder="Enter Auditor"
              />
            </div>
            <p *ngIf="fundForm.controls['auditor'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="auditorRep"
                placeholder="Enter Auditor Representative"
              />
            </div>
            <p *ngIf="fundForm.controls['auditorRep'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="trustee"
                placeholder="Enter Custodian / Trustee"
              />
            </div>
            <p *ngIf="fundForm.controls['trustee'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="trusteeRep"
                placeholder="Enter Custodian / Trustee Representative"
              />
            </div>
            <p *ngIf="fundForm.controls['trusteeRep'].hasError('maxlength')">
                <ngb-alert type="danger" [dismissible]="noNeed">
                  <span>It exceeds maximum length</span>
                </ngb-alert>
              </p>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Reclassification Frequency</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Approver</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Subscription Agreement"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Investment Agreement"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Private Placement Memorandum (PPM)"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Director’s Fees"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Management Fee"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Hurdle Rate"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Cost to Company (CTC)"
              />
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Bank</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Account"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Access ID"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Access Password"
              />
            </div>
            <!-- <div class="d-flex">
                        <div class="p-2 flex-grow-1"><button type="button" class="btn btn-primary">PREVIOUS</button></div>
                        <div class="p-2"><button type="button" class="btn btn-danger">CANCEL</button></div>
                        <div class="p-2"><button type="button" class="btn btn-success">NEXT</button></div>
                    </div> -->
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Internal details</a>
          <ng-template ngbNavContent>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Authorized Signatory</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Signature"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Board Resolutions"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Fund Administrator"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="GIIN"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Preparer"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Closing Period"
              />
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Reclassification Frequency</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Approver</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Subscription Agreement"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Investment Agreement"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Private Placement Memorandum (PPM)"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Director’s Fees"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Management Fee"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Hurdle Rate"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Cost to Company (CTC)"
              />
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Bank</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Account"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Access ID"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Bank Access Password"
              />
            </div>
            <!-- <div class="d-flex">
                        <div class="p-2 flex-grow-1"><button type="button" class="btn btn-primary">PREVIOUS</button></div>
                        <div class="p-2"><button type="button" class="btn btn-danger">CANCEL</button></div>
                        <div class="p-2"><button type="button" class="btn btn-success">NEXT</button></div>
                    </div> -->
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>Reasonings</a>
          <ng-template ngbNavContent>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Freeze"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Unfreeze"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Onboarding, Open, Funded, End"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Re-fund"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>
            <div class="mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Liquidate</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Redeem"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Extend"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Reasons"
              />
            </div>

            <!-- <div class="d-flex">
                        <div class="p-2 flex-grow-1"><button type="button" class="btn btn-primary">PREVIOUS</button></div>
                        <div class="p-2"><button type="button" class="btn btn-danger" (click)="Submit()">CANCEL</button></div>
                        <div class="p-2"><button type="button" class="btn btn-success">SUBMIT</button></div>
                    </div> -->
          </ng-template>
        </li>
    </ul>
</form>
    <div class="d-flex">
      <div class="p-2" *ngIf="sectionNo > 1">
        <button
          type="button"
          class="btn btn-primary"
          (click)="sectionNo = sectionNo - 1"
        >
          PREVIOUS
        </button>
      </div>
      <div class="p-2" *ngIf="sectionNo < 4">
        <button
          type="button"
          class="btn btn-primary"
          (click)="sectionNo = sectionNo + 1"
        >
          NEXT
        </button>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-danger" (click)="Cancel()">
          CANCEL
        </button>
      </div>
      <div class="p-2">
        <button
          type="button"
          class="btn btn-success"
          [disabled]="!fundForm.valid"
          (click)="Submit()"
        >
          SUBMIT
        </button>
      </div>
    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>

<!-- <button (click)="Submit()">Save</button>
<button (click)="Cancel()">Cancel</button> -->
