<div class="d-flex shadow-sm border p-2 align-items-center">
    <div class="p-1 flex-grow-1">
        <p class="mb-0 fw-bold">Survey Name : <span class="fw-light">Experience Survey</span></p>
        <P class="text-danger mb-0"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span> Apr 24,2020 | 1:01PM</span></P>
        <P class="text-primary mb-0"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span> Jan 24,2020 | 1:01PM</span></P>
    </div>
    <div class="p-1">
        <div class="form-check form-switch">
            <input class="form-check-input -mr-0" type="checkbox" role="switch" id="flexSwitchCheckDefault">

        </div>
    </div>
    <div class="p-1"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
    <div class="p-1">
        <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
    </div>
</div>