<!-- <div *ngIf="!isCreated">
    <app-fund-list></app-fund-list>

    <button type="button" class="btn btn-info" (click)="addForm()">Create Fund</button>
</div>

<app-create-fund *ngIf="isCreated"></app-create-fund> -->


<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div *ngIf="!isCreated" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h2">Funds List</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2" >
                <button type="button" class="btn btn-md btn-secondary" (click)="addForm()">Create</button>
            </div>
        </div>
    </div>

<app-fund-list *ngIf="!isCreated"></app-fund-list>
<app-create-fund *ngIf="isCreated"> </app-create-fund>
</main>