<ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-1">
      <ng-template ngbPanelHeader let-opened="opened">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <h4 class="m-0">Add Director(s)</h4>
          <button ngbPanelToggle class="btn btn-link p-0">
            <mat-icon>
              {{
                !opened
                  ? "keyboard_arrow_up"
                  : "keyboard_arrow_down"
              }}
            </mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="directorForm">
            <div formArrayName='directors' fxLayout="column" fxLayoutGap="10px">
              <label>Director's Name</label>
              <ng-template ngFor let-value [ngForOf]="GetControls('directors')" let-index="index">
                <div [formGroupName]="index">
                  <input type="text" formControlName="name">
                  <button (click)="removeDirector(index,value)">Remove</button>
                </div>
              </ng-template>
            </div><br>
            <button (click)="addDirector()">Add</button>
            <button (click)="submitData()" [disabled]="!directorForm.valid">Submit</button>
          </form>
          
      </ng-template>
    </ngb-panel>
  </ngb-accordion>