<ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-1">
      <ng-template ngbPanelHeader let-opened="opened">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <h4 class="m-0">Add Director(s)</h4>
          <button ngbPanelToggle class="btn btn-link p-0">
            <mat-icon>
              {{
                !opened
                  ? "keyboard_arrow_up"
                  : "keyboard_arrow_down"
              }}
            </mat-icon>
          </button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="directorForm">
            <div formArrayName='name' fxLayout="column" fxLayoutGap="10px">
              <label>Username</label>
              <div *ngFor="let user of GetControls('name'); let i = index">
                <input type="text" [formControlName]="i">
                <button (click)="removeDirector(i)">Remove</button>
              </div>
            </div><br>
            <button (click)="addDirector()">Add</button>
          </form>
          
      </ng-template>
    </ngb-panel>
  </ngb-accordion>